4@model List<aspnetmvccrud.Models.Domain.Employee>


    @{
        Pager pager = new Pager();

        int pageNo = 0;

        if(ViewBag.Pager != null)
        {
            pager = ViewBag.Pager;
            pageNo = pager.CurrentPage;
        }
    }

<h1>Employees</h1>



<li class="nav-item">
    <button><a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Add">Add Employee</a></button>
</li>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Salary</td>
                <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                <td>@employee.Department</td>
                <td><a href="Employees/View/@employee.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    @if(pager.TotalPages>0)
        {
            <ul class="pagination justify-content-end">
                
                @for (var pge=pager.StartPage;pge<= pager.EndPage;pge++)
                {
                    <li class="page-item" @pge=="pager.CurrentPage?"active":"")">
                        <a class="page-link" asp-controller="employees" asp-action="Index" asp-route-pg="@pge">@pge</a>
                        </li>
                    
                }

            </ul>
            
        }
    </div>
